---
layout: layout
---
<div class="about-page">
    <div class='side-bar'>
        <div class='user'>
            <img class="user-pic" src="{{site.avatar}}" />
            <div class='user-name'>{{site.owner}}</div>
        </div>
        <div class='tags'>
            {% for tag in page.tags %}
                <i class='tag {{tag | downcase }}'>{{tag}}</i>
            {% endfor %}
        </div>
        <div class="introduction">
            {{page.introduction}}
        </div>
    </div>
    <div class="content">
        {{content}}
    </div>
</div>