---
layout: layout
---
<div class="about-page">
    <div class='side-bar'>
        <div class='user'>
            {% if site.evn == 'development' %} 
            <img class="user-pic" src="{{site.avatar}}" />
            {% else %}
            <img class="user-pic" src="{{site.path | prepend: site.baseurl | replace: '//', '/' }}{{site.avatar}}" />
            {% endif %}
            <div class='user-name'>{{site.owner}}</div>
        </div>
        <div class='tags'>
            {% for tag in page.tags %}
                <i class='tag {{tag | downcase }}'>{{tag}}</i>
            {% endfor %}
        </div>
        <div class="introduction">
            {{page.introduction}}
        </div>
    </div>
    <div class="content">
        {{content}}
    </div>
</div>