---
layout: layout
---
<div class="content">
    <ul class="post-list">
        <li>
            <time>10 Nov 2016</time><a href="">使用不同的方法来创建对象和生成原型链</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">javaScript的几种继承方式</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">new 实例化</a><i class="tag">CSS</i><i class="tag">HTML</i>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">严格模式规定不能使用未定义的变量。严格模式是对ECMAScript 5 的严格限制，以求得更高效的性能和更便利的调试。</a><i class="tag">JavaScript</i>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">javaScript的几种继承方式</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">new 实例化</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">原型链的理解</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">javaScript的几种继承方式</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">new 实例化</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">使用不同的方法来创建对象和生成原型链</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">javaScript的几种继承方式</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">new 实例化</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">严格模式规定不能使用未定义的变量。</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">javaScript的几种继承方式</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">new 实例化</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">原型链的理解</a>
        </li>
        <li>
            <time>10 Nov 2016</time><a href="">原型链的理解</a>
        </li>
    </ul>
    <div class="pages">
        <!-- <a href="">«</a> -->
        <a href="">1</a>
        <a class="active" href="">2</a>
        <a href="">3</a>
        <!-- <a href="">»</a> -->
    </div>
</div>