<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if site.evn == 'development' %} 
    <link rel="stylesheet" href="/assets/css/main.css">
    {% else %}
    <link rel="stylesheet" href="{{site.path}}/assets/css/main.css">
    {% endif %}
    {% if site.evn == 'development' %} 
    <link rel="shortcut icon" href="{{site.favicon}}" type="image/x-icon">
    {% else %}
    <link rel="shortcut icon" href="{{site.path}}{{site.favicon}}" type="image/x-icon">
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.10.0/styles/monokai.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    {% if page.title %}
    <title>{{site.title}} - {{page.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
</head>
<body>
    <div class="layout">
        {{content}}

        {% include footer.html %}
    </div>
</body>
</html>
