<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="shortcut icon" href="{{site.favicon | prepend: site.baseurl | replace: '//', '/' }}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.10.0/styles/default.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        $(function(){
            $('a').each(function(){
                if(this.href.indexOf('_blank') > -1){
                    this.target = '_blank';
                    this.href = this.href.replace(/\?_blank/g, '');
                };
            });
        });
    </script>
    {% if page.title %}
    <title>{{site.title}} - {{page.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
</head>
<body>
    <div class="layout">
        {{content}}

        {% include footer.html %}
    </div>
</body>
</html>
