---
layout: layout
---
<div class="content content-style">
    <h1 class="title">{{page.title}}</h1>
    <p>
        <time>{{page.date | date_to_string}} By {{site.owner}}</time>
        {% for tag in page.tags %}
            <i class="tag">{{tag}}</i>
        {% endfor %}
    </p>
    {{content}}

    {% include related.html %}

    <div class="tool">
        <a href="{{ site.baseurl }}/">返回<br>首页</a>
        <a onclick="toTop()" href="javascript: void(0);">回到<br>顶部</a>
    </div>
    <script>
        function toTop(){
            scrollTo(0, 0);
        }
    </script>
</div>